<div class="row kitchen">
  <div class="col s6 account">
    <h4>Ordered dishes</h4>
    <h5 ng-hide="vm.ordered.length">No dishes yet</h5>
    <ul class="collection">
      <li ng-repeat="order in vm.ordered" class="collection-item row">
        <div class="col s9">
          <p class="title">{{order.dish.title}}</p>
          <p class="status">Status <span>{{order.status}}</span></p>
        </div>
        <div class="col s3 right-align">
          <p class="price">Price: <span>{{order.dish.price}}</span> C</p>
          <p class="time">Order time <span>{{order.time}}</span></p>
        </div>
        <div class="col s12 right-align">
          <button ng-click="vm.changeStatus(order)" class="btn">Start</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s6">
    <h4>Cooking</h4>
    <div>
      <h5 ng-hide="vm.cooking.length">No dishes yet</h5>
      <ul class="collection">
        <li ng-repeat="order in vm.cooking" class="collection-item row">
          <div class="col s9">
            <p class="title">{{order.dish.title}}</p>
            <p class="status">Status <span>{{order.status}}</span></p>
          </div>
          <div class="col s3 right-align">
            <p class="price">Price: <span>{{order.dish.price}}</span> C</p>
            <p class="time">Order time <span>{{order.time}}</span></p>
          </div>
          <div class="col s12 right-align">
            <button ng-click="vm.changeStatus(order)" class="btn">Complete</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
