<div class="row">
  <div class="col s4 account">
    <h4>Account</h4>
    <h3>Name: <span>{{vm.name}}</span></h3>
    <p class="balance">Balance: <span>{{vm.balance}}</span> C</p>
    <button
      class="waves-effect waves-light btn-large"
      ng-click="vm.addFunds()"
    >Add funds
    </button>
  </div>
  <div class="col s8">
    <button
      class="waves-effect waves-light btn-large right"
      ng-click="vm.openMenu()"
    >Add dish
    </button>
    <h4>Order Status</h4>
    <div>
      <h5 ng-hide="vm.order.length">No orders yet</h5>
      <h5 ng-show="vm.order.length">Your order</h5>
      <ul class="collection">
        <li ng-repeat="order in vm.order" class="collection-item row">
          <div class="col s9">
            <p class="title">{{order.dish.title}}</p>
            <p class="status">Status <span>{{order.status}}</span></p>
          </div>
          <div class="col s3 right-align">
            <p class="price">Price: <span>{{order.dish.price}}</span> C</p>
            <p class="time">Order time <span>{{order.time}}</span></p>
          </div>
          
        </li>
      </ul>
    </div>
  </div>
  <div class="modal z-depth-4" ng-show="vm.menuShow">
    <div class="modal-header">
      <button class="btn-flat close-btn" ng-click="vm.closeMenu()">Close</button>
    </div>
    <div class="modal-content">
      <h2>Menu</h2>
      <ul class="dish-list">
        <li ng-repeat="dish in vm.menu">
          <div class="card">
            <div class="card-image">
              <img src="{{dish.image}}">
            </div>
            <div class="card-content right-align">
              <span class="card-title">{{dish.title}}</span>
              <p class="price">Price <span>{{dish.price}}</span> C</p>
              <p class="rating">Rating <span>{{dish.rating}}</span></p>
            </div>
            <div class="card-action">
              <span class="note" ng-show="vm.balance <= dish.price">Not enough credits</span>
              <button class="btn right add-btn" ng-click="vm.addDish($event, dish)" ng-disabled="vm.balance <= dish.price">Add</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
